@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --font-dm-sans: "DM Sans", sans-serif;
  --font-marcellus: "Marcellus", serif;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (min-width: 1025px) {
  .site-header {
    display: block;
  }
}


.font-text-header {
  font-size: 16px;
  color: white;

}

.header-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 0 25px;
  text-align: center;
  cursor: pointer;

  &:hover {
    color: #C19D56;
  }
}

.color-text-header {
  position: relative;
  color: black;
  cursor: pointer;
  list-style: none;
  margin: 0;
  padding: 7px 26px 7px 0;
  transition: padding-left 0.3s ease, color 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    opacity: 0;
    background: linear-gradient(to left,
        /* hướng nhạt từ phải → trái */
        #C19D56 0%,
        /* đậm bên phải */
        rgba(193, 157, 86, 0) 100%
        /* trong suốt bên trái */
      );
    transition: opacity 0.4s ease;
  }

  &:hover {
    padding-left: 20px;
    color: #C19D56;
  }

  &:hover::before {
    opacity: 1;
  }
}

.arrow-icon {
  transition: transform 0.3s ease;

  /* khi hover vào group/shop thì quay 90deg */
  .group\/shop:hover & {
    transform: rotate(90deg);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slide-down 0.5s ease-out forwards;
}

/* Nhấp nhô nhẹ */
.bounceY {
  animation: bounceY 3s ease-in-out infinite;
}

@keyframes bounceY {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  /* Nhấp nhô nhẹ hơn */
}

/* Text stroke nhỏ */
.text-stroke-small {
  color: transparent;
  /* text trong suốt */
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #C19D56;
  stroke-width: 1.5px;
  stroke: #C19D56;
  font-size: 100px;
  /* nhỏ đi 1 nửa */
  font-weight: 400px;
  text-align: left;
  font-family: Marcellus;
}

.check {
  background-color: #F0E9E3;
  margin: 0px 0px 0px 0px;
  padding: 19px 17px 14px 17px;
  border-radius: 30px 30px 50px 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-slow {
  animation: spin-slow 12s linear infinite;
}

//animation list expert homepage
@keyframes scroll-step {
  0% { transform: translateX(0); }
  10% { transform: translateX(-28.57%); }
  20% { transform: translateX(-28.57%); }
  30% { transform: translateX(-57.14%); }
  40% { transform: translateX(-57.14%); }
  50% { transform: translateX(-85.71%); }
  60% { transform: translateX(-85.71%); }
  70% { transform: translateX(-114.28%); }
  80% { transform: translateX(-114.28%); }
  90% { transform: translateX(-142.85%); }
  100% { transform: translateX(0); }
}

.animate-scroll-step {
  animation: scroll-step 15s linear infinite;
}

